@import "tailwindcss";

:root {
    --black: #0F0F0F;
    --gray: #1A1A1A;
    --light-gray: #333333;
    --bg0: #0F222D;
    --bg0light: #F37021;
    --bg1: #D9256F;
    --bg1light: #dd4f8a;
    --bg2: #c21b26;
    --bg2light: #c3343d;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Manrope, Arial, sans-serif;
    background-color: var(--black);
}

.bg-0 {
    background-color: var(--bg0);
}

.bg-0:hover {
    background-color: black;
    color: var(--bg0light);
}

.bg-1 {
    background-color: var(--bg1);
}

.bg-1:hover {
    background-color: black;
    color: var(--bg1light);
}

.bg-2 {
    background-color: var(--bg2);
}

.bg-2:hover {
    background-color: black;
    color: var(--bg2);
}

.theme-transition {
    transition: all 0.2s ease-in-out;
}

.bg-dark {
    @media (width >= 40rem) {
        background-color: var(--black);
    }
}

.border-darkGray {
    @media (width >= 40rem) {
        border: 2px solid var(--light-gray);
        border-radius: 4px;
    }

}

.bg-hill {
    background-color: #0D2B33;
}

.link-hover:hover {
    background-color: var(--gray);
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    cursor: pointer;
}

.link-hover {
    background-color: var(--black);
    transition: all 0.2s ease-in-out;
}

.bg-customGray {
    background-color: var(--gray);
}

.border-lightGray {
    border-radius: 10px;
    border: 1px solid var(--light-gray);
}

.hero-animation {
    animation: hero-background 0.4s ease-in-out forwards;
}

@keyframes hero-background {
    from {
        transform: scale(0.9);
        opacity: 0.9;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}