@import "tailwindcss";

:root {
    --black: #0F0F0F;
    --gray: #1A1A1A;
    --light-gray: #333333;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Manrope, Arial, sans-serif;
    background-color: var(--black);
}

.bg-dark {
    background-color: var(--black);
}

.border-darkGray {
    border: 2px solid var(--light-gray);
    border-radius: 4px;
}

.bg-hill {
    background-color: #0D2B33;
}


.link-hover:hover {
    background-color: var(--gray);
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    cursor: pointer;
}

.link-hover {
    background-color: var(--black);
    transition: all 0.2s ease-in-out;
}

.bg-customGray {
    background-color: var(--gray);
}

.border-lightGray {
    border-radius: 10px;
    border: 1px solid var(--light-gray);
}