@import "tailwindcss";

:root {
    --black: #0F0F0F;
    --gray: #1F1F1F;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-dark {
    background-color: var(--black);
}

.bg-hill {
    background-color: #0D2B33;
}

.bg-border {
    border-radius: 5px;
}

.border-darkGray {
    border-color: var(--gray);
    border-style: solid;
    border-width: 2.5px;
}

.link-hover:hover {
    background-color: var(--gray);
    transition: all 0.2s ease;
    border-radius: 3px;
}

.divBgLeft {
    z-index: -10;
    top: 0;
    left: 0;
}

.divBgRight {
    z-index: -10;
    top: 0;
    right: 0;
}

.heroText {
    margin: 7rem 0 0 5rem;
    z-index: -8;
}

.heroImage {
    width: 60%;
    z-index: -9;
    margin: 11rem 0 0 28rem;
}