@import "tailwindcss";

:root {
    --black: #0F0F0F;
    --gray: #1F1F1F;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-dark {
    background-color: var(--black);
    border-radius: 5px;
}

.border-darkGray {
    border-color: var(--gray);
    border-style: solid;
    border-width: 2.5px;
}

.link-hover:hover {
    background-color: var(--gray);
    transition: all 0.2s ease;
    border-radius: 3px;
}

.divBgRed {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
}

.divBgBlack {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
}